.riko-image {
    width: 170px;
    border-radius: 50%;
    border: 2px solid gray;
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  .skills img {
    width: 50px;
    margin: 0px 10px;
  }
 .skills{
    justify-content: center;
    text-align: center;
    align-items: center;
    display: grid;
}