.our{
    margin-top: 30px;
    color: #19D3AE;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.service{
    font-size: 20px;
    color: #3A4256;
    text-align: center;
    margin-bottom: 50px;
}